<!DOCTYPE html>
<html lang="en">
	<head>
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../../../styles.css">
	</head>	
	<body>
		<div class="container">	
			<div class="row top-menu">				
				<div class="col-md-6">
					<a href="/shoppinglist/">
						<span class="glyphicon glyphicon-home" aria-hidden="true"></span>Show All Shopping Lists
					</a>
				</div> 
				<div class="col-md-6 text-right">				
					<% if(!loginstatus){ %>
					   <a href="/login/">Login</a>
					<% } else{ %>  
					   <a href="/disconnect">Logout</a>
					<% } %>
				</div>
			</div>
			<div class="row divider green">
				<div class="col-md-12"></div>
			</div>
			<div class="row banner menu">
				<div class="col-md-11 col-md-offset-1 padding-none">
					<h1>Share Shopping List <%- JSON.parse(JSON.stringify(shoppinglist[0].name)) %></h1>
				</div>
			</div>
			<% if (usercount == 1){ %>
				<h3>Currently no user to share with</h3>		
				<a href = "/item/">
					<button class="btn btn-default">Back</button>
				</a>
			<% } else{ %>
				<h2> Share <%- JSON.parse(JSON.stringify(shoppinglist[0].name)) %> with </h2>
				<form action="#" method = 'post'>
					<% for(var i = 0; i < users.length; i++) { %>
						<% if (users[i].id != shoppinglist[0].user_id ){%>			
							<div class="row">	
								<div class="col-md-1"></div>			
								<div class="col-md-6 user-list">
									<div class="radio">					  
										<input type="radio" name="shared_email" id="shared_email1" value=<%- JSON.parse(JSON.stringify(users[i].email)) %>>
										<h3>
											<%- JSON.parse(JSON.stringify(users[i].name)) %>
											<% if (shoppinglist[0].shared_email == users[i].email){ %>
												<h3>(currently shared with)</h3>
											<% } %>
										</h3>										
									</div>
								</div>
								<div class="col-md-1"></div>
							</div>
						<% } %>
					<% } %>					
					<div class="padding-bottom"></div>
					<button type="submit" class="btn btn-default" id="submit" type="submit">
					<span class="glyphicon glyphicon-share" aria-hidden="true"></span>Share</button>							
				</form>
			<% } %>
		</div>
	</body>
</html>